@charset "UTF-8";
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del,
dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    text-decoration: none;
}

html {
    background-color: rgb(237, 231, 222);
}

body {
    min-width: 1000px;
    width: 100%;
    height: 100%;
    margin: auto;
    font: 16px/18px Georgia, sans-serif;
    text-align: justify;
}

a {
    color: #000000;
}

h1 {
    color: #000000;
    font: 25px/30px Georgia, sans-serif;
}

h2 {
    margin: 4px;
    font: 18px/20px Georgia, sans-serif;
}

h3 {
    font: 16px/20px Georgia, sans-serif;
}

h4 {
    font: 20px/20px Georgia, sans-serif;
}

textarea {
    resize: none;
}

/* Header */
header {
    width: 100%;
    color: #000000;
    background-color: #9916bc;
}

/* Type of page */
.feed {
    margin-left: 1%;
    font: 35px/40px Georgia, sans-serif;
    text-align: center;
}

/* Actions */
.header-actions {
    width: 50%;
    margin-right: 1%;
    float: right;
    text-align: right;
}

.header-actions a:hover {
    box-shadow: 0 0 10px #0807b1;
}

.add-article {
    margin-right: 3%;
    padding: 5px;
    border-radius: 10px;
    font: 20px/40px Georgia, sans-serif;
    text-align: center;
    background-color:#0807b1;
    color: #ffffff;
}

.user {
    margin-right: 3%;
    font: 20px/40px Georgia, sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color: #0807b1;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

.login-logout-button {
    padding: 5px;
    border-radius: 10px;
    font: 20px/40px Georgia, sans-serif;
    text-align: center;
    background-color: #0807b1;
    color: #ffffff;
}

/* News */
.article-list {
    float: left;
    width: 75%;
    margin: 2%;
}

.article-list p {
    padding: 0.3%;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
}



.article-header {
    padding: 0.5%;
    border-radius: 5px;
    box-shadow: 0 0 2px #000000;
}

.author {
    float: left;
    width: 50%;
    font: 16px/16px Georgia, sans-serif;
    text-align: left;
}

.date {
    width: 50%;
    font: 16px/16px Georgia, sans-serif;
}

.tag {
    margin-right: 10px;
    width: 100%;
    border-radius: 2px;
    font: 15px/25px Georgia, sans-serif;
    box-shadow: 0 0 1px #000000;
}

.tag-holder {
    display: inline-block;
}

.article-actions {
    text-align: center;
}

.view-button {
    padding: 5px;
    border-radius: 10px;
    font: 18px/260% Georgia, sans-serif;
    text-align: center;
    color: #000000;
    background-color: #0807b1;
    color: #ffffff;
}

.edit-button {
    margin-right: 20%;
    padding: 5px;
    border-radius: 10px;
    font: 18px/260% Georgia, sans-serif;
    text-align: center;
    color: #000000;
    background-color: #0807b1;
    color: #ffffff;
}

.delete-button {
    margin-left: 20%;
    padding: 5px;
    border-radius: 10px;
    font: 18px/260% Georgia, sans-serif;
    text-align: center;
    color: #000000;
    background-color: #0807b1;
    color: #ffffff;
}

/* Filters */
.filters {
    float: right;
    width: 21%;
    height: 500px;
    margin-top: 1%;
    margin-bottom: 40%;
    color: #000000;
    border-radius: 10px;
    background-color: #9916bc;
    text-align: center;
    box-shadow: 0 0 5px #000000;
}

.filters h1 {
    color: #000000;
}

.author-filter input,
.date-filter input {
    margin-bottom: 10px;
    width: 70%;
    max-height: 50px;
}

.tags-filter input {
    width: 61%;
}

.confirm-filter-holder {
    margin-top: 10px;
    text-align: center;
}

.confirm-filter {
    padding: 5px;
    border-radius: 10px;
    font: 18px/23px Georgia, sans-serif;
    text-align: center;
    background-color: #0807b1;
    color: #ffffff;
}

.reset-filter-holder {
    margin-top: 30px;
}

.reset-filter {
    padding: 5px;
    border-radius: 10px;
    font: 18px/23px Georgia, sans-serif;
    text-align: center;
    background-color: #0807b1;
    color: #ffffff;
}

.add-tag-filter {
    padding: 2px 5px;
    border-radius: 10px;
    font: 23px/23px Georgia, sans-serif;
    text-align: center;
    background-color: #0807b1;
    color: #ffffff;
}

.chosen-tags-list {
    margin-left: 10%;
    width: 80%;
    min-height: 15px;
    text-align: center;
}

/* Navigation elements */
.paginator {
    margin-left: 2%;
    margin-bottom: 2%;
    float: left;
    width: 75%;
    text-align: center;
}

.pagination-next-button {
    float: right;
    margin-right: 40%;
    background-color: #0807b1;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
}

.pagination-prev-button {
    float: left;
    margin-left: 40%;
    background-color: #0807b1;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
}

.return-button-block {
    margin: 2%;
}

.return-button-block a:hover {
    box-shadow: 0 0 10px 1px #9916bc;
}

.return-button {
    padding: 5px;
    border-radius: 10px;
    font: 18px/18px Georgia, sans-serif;
    text-align: center;
    background-color: #0807b1;
    color: #ffffff;
}

/* Authorization */
.authorization-input-block {
    margin-left: 2%;
}

.authorization-input-block input {
    width: 15%;
    min-width: 200px;
    margin-right: 100%;
    margin-bottom: 1%;
}

.login-button-block {
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 70%;
    min-height: 100%;
}

.login-button-block a:hover {
    box-shadow: 0 0 10px 1px #9916bc;
}

.login-button {
    padding: 5px;
    border-radius: 10px;
    font: 18px/18px Georgia, sans-serif;
    text-align: center;
    background-color: #0807b1;
    color: #ffffff;
}

/* View */
.article-view {
    margin-left: 1%;
    margin-right: 1%;
    min-height: 90%;
}


.content {
    margin-bottom: 2%;
    padding: 0.3%;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
}

/* Edit */
.fixed-fields-block {
    margin-left: 2%;
    margin-right: 2%;
    font: 25px/25px Georgia, sans-serif;
    text-align: center;
}

.title-edit-block {
    margin: 2% 2% 1%;
}

.title-edit-block textarea,
.summary-edit-block textarea,
.content-edit-block textarea {
    width: 100%;
    margin-top: 5px;
}

.existent-tags,
.add-tag,
.summary-edit-block,
.content-edit-block {
    margin: 1% 2% 1%;
}

.existent-tags-list {
    min-height: 15px;
}


.add-tag-button {
    margin-left: 1%;
    margin-bottom: 10%;
    padding: 5px;
    border-radius: 10px;
    font: 14px/14px Georgia, sans-serif;
    text-align: center;
    background-color: #0807b1;
    color: #ffffff;
}

.add-article-button-block {
    margin: 1% 2% 5%;
}


.add-article-button {
    padding: 5px;
    border-radius: 10px;
    font: 18px/18px Georgia, sans-serif;
    text-align: center;
    background-color: #0807b1;
    color: #ffffff;
}

.chosen-tag {
    margin-right: 10px;
    width: 100%;
    border-radius: 2px;
    font: 15px/25px Georgia, sans-serif;
    box-shadow: 0 0 1px #000000;
    background-color: #0807b1;
    color: #ffffff;
}

/* Error */
.error-block {
    margin-left: 2%;
    margin-bottom: 80%;
    min-height: 90%;
}

.error-block span {
    font: 25px/25px Georgia, sans-serif;
    color: black;
}

/* Footer */
footer {
    height: 20px;
    clear: both;
    width: 100%;
    text-align: center;
    color: #000000;
    background-color: #9916bc;
    font: 15px/20px Georgia, sans-serif;
}